<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Editar usuário</title>
  </head>
  <body>
    <h1>Editar usuário</h1>
    <form action="{{ url_for('edit', id=row[0]) }}" method="post">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" value="{{ row[1] }}">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" value="{{ row[2] }}">
      <input type="submit" value="Salvar">
    </form>
  </body>
</html>
