<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Editar</title>
  </head>
  <body>
    <section></section>
      <h1>Editar Lançamento</h1>
      <form action="{{ url_for('edit', id=row[0]) }}" method="post">
        <label for="dia">Dia:</label>
        <input type="text" id="dia" name="dia" value="{{ row[1] }}">
        <label for="val">Valor:</label>
        <input type="text" id="val" name="val" value="{{ row[2] }}">
        <label for="desc">Descrição:</label>
        <input type="text" id="desc" name="desc" value="{{ row[3] }}">
        <input type="submit" value="Salvar">
      </form>
    </section>
  </body>
</html>
