<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <section>
        <div class="form-box">
        <h1>Lista de ganhos/despesas</h1>
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop para iterar sobre a lista de usuários e exibir suas informações -->
                    {% for row in data %}
                    <tr>
                        <!-- Coluna para exibir o ID do usuário -->
                        <td>{{ row[1] }}</td>
                        <!-- Coluna para exibir o Nome do usuário -->
                        <td>{{ row[2] }}</td>
                        <!-- Coluna para exibir o E-mail do usuário -->
                        <td>{{ row[3] }}</td>
                        <td>
                            <!-- Link de "Editar" que redireciona para a rota de edição de usuário, passando o ID do usuário como parâmetro -->
                            <a href="{{ url_for('edit', id=row[0]) }}">Editar</a>
                            <!-- Formulário de "Excluir" que envia uma requisição POST para a rota de exclusão de usuário, passando o ID do usuário como parâmetro -->
                            <form action="{{ url_for('delete', id=row[0]) }}" method="post">
                                <input type="submit" name="exclude" value="Excluir">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Adicionar</h2>
            <form action="{{ url_for('add') }}" method="post">
                <!-- Campo de entrada para o Nome do novo usuário -->
                <label for="dia">Data:</label>
                <input type="text" id="dia" name="dia">
                <!-- Campo de entrada para o E-mail do novo usuário -->
                <label for="valor">Valor:</label>
                <input type="text" id="valor" name="valor">
                <!-- Campo de entrada para a Senha do novo usuário -->
                <label for="desc">Descrição:</label>
                <input type="text" id="desc" name="desc">
                <!-- Botão de envio para adicionar o novo usuário -->
                <input type="submit" name="home" value="Adicionar">
            </form>
        </div>
    </section>
</body>
</html>